[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "supersigs"]
	path = supersigs
	url = https://github.com/tomasettilab/supersigs
